{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'svg/twitter-blue.svg' %}">
	<link rel="stylesheet" href="{% static "offlinecdn/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "offlinecdn/fonts.css" %}">
	<link rel="stylesheet" href="{% static "offlinecdn/all.min.css" %}">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	
	<link rel="stylesheet" href="{% static 'fontawesome/font-awesome.min.css' %}"> 
	<title>{% block title %}{% endblock title %}</title>
	
	{% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/> {% endcomment %}

</head>
<body style="background-color: rgb(0, 0, 0);">
		<div class="container-fluid">
			<div class="row">
				{% comment %} phone < 500 < tablet < 1005 < laptop < 1282 < monitor
				1200
				3, 5, 4   col-sm-9 col-md-6 col-lg-8 col-xl-10
				sm  < 500 <   md   < 1005 <   lg   < 1282 <   xl {% endcomment %}
				{% if user.is_authenticated %}
				<div class="px-3 col-sm-0 col-md-1 col-lg-1 col-xl-3 text-left flex-xl-shrink-1">
					{% include "users/nav.html" %}
				</div>
				{% endif %}

				<div class="text-left col-sm-12 {% if user.is_authenticated %}col-md-11 col-lg-8 col-xl-5{% else %} col-md-12	col-lg-12 col-xl-12
					{% endif %}" style="border-left: 1px solid grey; border-right: 1px solid grey;">
					{% block content %}{% endblock content %}
				</div>
			</div>
			
			{% if user.is_authenticated %} 
			<div class="col-sm-0 col-md-0 col-lg-3 col-xl-4 text-left bg-black h-100 flex-xl-shrink-1 flex-lg-shrink-1">
				<h3>Column 3</h3>
				<p>Lorem ipsum dolor..</p>
			</div>
			{% endif %}
		</div>
		
		<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
		<script src="{% static 'js/js.cookie.min.js' %}"></script>
		<script type="text/javascript" src="{% static "js/script.js" %}"></script>    
		<script>
			var csrftoken = Cookies.get('csrftoken');
			function csrfSafeMethod(method) {
				// these HTTP methods don't require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			$(document).ready(function() {
				{% block domready %}
				{% endblock domready %}
			});
		</script>

		{% comment %} <script src="https://kit.fontawesome.com/a548b28c9d.js" crossorigin="anonymous"></script> {% endcomment %}
	</body>
	</html>
	