{% load static %}
  <hr class="bg-secondary">
	<div class="individual-tweet d-flex flex-row">
		
		<a href="{{ tweet.user.get_absolute_url }}">
  		<img height="40px" width="40px" class="my-3 img-fluid rounded-circle" src="{% if tweet.user.profile.photo %}{{ tweet.user.profile.photo.url }}{% else %}{% static "images/default.png" %}{% endif %}">
		</a>
			<div class="flex-fill">
      	<div class="d-flex flex-row justify-content-between">
          <a class="text-white text-decoration-none" href="{{ tweet.user.get_absolute_url }}">{{tweet.user.get_full_name}} <span class="text-dark">@{{ tweet.user.username }}</span> <span class="text-dark">{{ tweet.whenpublished }}</span></a>
          
          <btn data-toggle="dropdown" data-target="#tweet-{{ tweet.id }}" class="c-pointer ellipsis-btn text-dark text-decoration-none" onclick="ellipsisFunction(id={{tweet.id}})"><i class="fas fa-lg fa-border-padding fa-solid fa-ellipsis"></i></btn>
				
        </div>
        <p><a class="text-white text-decoration-none" href="{{ tweet.get_absolute_url }}">{{ tweet.body }}</a></p>
     </div>
     <div id="tweet-{{ tweet.id }}" class="d-none ellipsis-content bg-black class-{{ tweet.id }} border border-dark">
      <a class="bg-black-hover text-light text-decoration-none p-3 d-block" href="#">Not Interested in this Tweet</a>
      <a class="bg-black-hover text-light text-decoration-none p-3 d-block" href="#">Unfollow @{{ tweet.user.username }}</a>
      <a class="bg-black-hover text-light text-decoration-none p-3 d-block" href="#">Add/remove @{{ tweet.user.username }} from Lists</a>
      <a class="bg-black-hover text-light text-decoration-none p-3 d-block" href="#">Mute @{{ tweet.user.username }}</a>
      <a class="bg-black-hover text-light text-decoration-none p-3 d-block" href="#">Block @{{ tweet.user.username }}</a>
      <a class="bg-black-hover text-light text-decoration-none p-3 d-block" href="#">Embed Tweet</a>
    </div>
 </div>
 {% comment %} <div class="d-flex flex-row justify-content-around text-secondary">
  <i class="fas fa-comment c-pointer"></i>
  <i class="fas fa-retweet c-pointer"></i>
  <i class="fas fa-heart c-pointer"></i>
  <i class="fas fa-share-alt c-pointer"></i>
 </div> {% endcomment %}

{% with total_likes=tweet.users_like.count users_like=tweet.users_like.all %}
	<div class="d-flex flex-row justify-content-around text-secondary">

		<i class="fas fa-comment c-pointer"></i>
		<i class="fas fa-retweet c-pointer"></i>

		<a href="#" class="like-button text-secondary" data-id="{{ tweet.id }}" data-action="{% if request.user in users_like %}unlike{% else %}like{% endif %}">
      {% if request.user not in users_like %}
			<i class="fas fa-heart c-pointer"> {{ total_likes }}</i>
			{% comment %} Like {% endcomment %}
			{% else %}
			<i class="fas fa-heart liked-color c-pointer"> {{ total_likes }}</i>
			{% comment %} Unlike {% endcomment %}
			{% endif %}
		</a>		
		<i class="fas fa-share-alt c-pointer"></i>
	</div>
{% endwith %}
  {% comment %} <style> #tweet-{{ tweet.id }} {display:none;} .class-{{ tweet.id }} {font-size: 90%; display: block; position: absolute; right: 15px;} </style> {% endcomment %}

