{% extends 'base.html' %}

{% block title %}Tweet{% endblock title %}

{% block content %}
	<div class="tweet_detail">
		<div class="box text-white">
			{{tweet.user.get_full_name}} <span class="text-dark">@{{ tweet.user.username }}</span>
			<span class="text-dark">
				{{ tweet.whenpublished }}
			</span>
			<br><a class="text-white text-decoration-none" href="{{ tweet.get_absolute_url }}">{{ tweet.body }}</a>
		</div>

		{% with total_likes=tweet.users_like.count users_like=tweet.users_like.all %}
			<div class="tweet-info">
				<div>
					<span class="count">
						<span class="total">{{ total_likes }} </span>
					 	like{{ total_likes|pluralize }}
					</span>
					<a class="like-button" href="#" data-id="{{ tweet.id }}" data-action="
						{% if request.user in users_like %}unlike{% else %}like{% endif %}">
						
						{% if request.user in users_like %}
						<i class="fas fa-heart c-pointer"></i>   <!-- Unlike -->
						{% else %}
						<i class="fas fa-heart liked-color c-pointer"></i>    <!-- like -->
						{% endif %}
							
					</a>
				</div>
			</div>

		{% endwith %}

	</div>
	{% comment %} {% include "content/tweet/individual-tweet.html" %} {% endcomment %}
{% endblock content %}

{% block domready %}
	$('a.like-button').click(function(e){
		console.log($(this).data('id') + ' ' + $(this).data('action'))
		e.preventDefault();
		$.post('{% url "content:like" %}',
		{
			id: $(this).data('id'),
			action: $(this).data('action')
		},
		function(data){
				console.log($(this))
				if(data['status'] == 'ok'){
					var previous_action = $('a.like-button').data('action');

					// toggle data-action if prev action was like set data-action as unlike else like
					$('a.like-button').data('action', previous_action == 'like' ? 'unlike': 'like');
					
					// toggle link text                           Unlike     	  Like
					$('a.like-button').html(previous_action == 'like' ? '<i class="fas fa-heart liked-color c-pointer"></i>' : '<i class="fas fa-heart c-pointer"></i>').text();

					// update total likes  
					var previous_likes = parseInt($('span.count .total').text());

					$('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
				}
			}
		);
	});
{% endblock domready %}
