:root {
  --blue: #1e90ff;
  --primary: white;
  --secondary: black;
  --dark: #2c2f3175;
  --light: rgb(231, 233, 234);
  --fa-primary-color: white;
}

.bg-black {
  background-color: var(--secondary);
}
@media screen and (min-width: 500px) {
  #central-top {
    height: 79%;
  }
}
@media screen and (min-width: 768px) {
  #central-top {
    height: 23%;
  }
}
@media screen and (min-width: 1200px) {
  #central-top {
    height: 33%;
  }
} /*style="border-bottom: 1px solid grey; height: 33%;"*/

.bg-black:hover {
  background-color: var(--dark);
}

.index-twt-btn {
  position: relative;
  bottom: -34px;
  right: -379px;
}

.follow-button {
  position: absolute;
  right: 1.5rem;
  top: 11rem;
  font-weight: 700;
}

.selected {
  font-weight: 1000px;
  color: var(--primary);
}

.fa-home,
.fa-hashtag,
.fa-bell,
.fa-envelope,
.fa-bookmark,
.fa-list,
.fa-profile,
.fa-more {
  color: var(--primary);
}

/* .form-signin {
  font-weight: 700;
} */

.login-template {
  font-weight: 700;
}
.no-acc {
  font-size: 90%;
}

.sign {
  color: var(--light);
}
