:root {
  --blue: #1e90ff;
  --primary-color: black;
  --secondary-color: white;
  --dark: #2c2f3175;
  --light: rgb(231, 233, 234);
  --b-secondary: #6c757d;
}

/* bootstrap color codes */
.fa-heart:hover {
  color: #dc3545;
}

.fa-retweet:hover {
  color: #1db340;
}

.fa-comment:hover {
  color: #17a2b8;
}

.fa-share-alt:hover {
  color: #17a2b8;
}

.liked-color {
  color: red;
}

.retweeted-color {
  color: #00ff3a;
}

.commented-color {
  color: var(--blue);
}
.shared-color {
  color: var(--blue);
}
/* bootstrap color codes */

.c-pointer {
  cursor: pointer;
}
.ellipsis-content {
  font-size: 90%;
  display: block;
  position: absolute;
  right: 15px;
}
.bg-black {
  background-color: var(--primary-color);
}

/* applies only if screen size is less than 1200px */
@media all and (max-width: 1200px) {
  .hidden-sm-md {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  /* applies only if screen size is greater than 500px */
  /* #central-top {
    height: 79%;
  } */
  .main {
    border-left: 1px solid var(--b-secondary);
    border-right: 1px solid var(--b-secondary);
  }
}
  .sm-nav {
    display: none;
  }
  #central-top {
    height: 40%;
  }
@media screen and (max-width: 768px) {
  .lg-nav {
    display: none !important;
  }
  .hidden-sm {
    display: none;
  }
    .sm-nav {
    display: block !important;
  }
}
@media screen and (min-width: 1200px) {
  #central-top {
    height: 33%;
  }
} /*style="border-bottom: 1px solid grey; height: 33%;"*/

.bg-black-hover:hover {
  background-color: #151414;
}

.nav a:hover {
  background-color: #151414;
  color: var(--secondary-color);
  font-weight: 600;
}
/* .nav-icons { 
  -webkit-text-stroke: 1px var(--secondary-color);
  color: var(--primary-color) !important;
} */

/* div.nav a {
  text-align: center;
}
.list-group-item-action {
  text-align: center;
} */
.index-twt-btn {
  position: relative;
  bottom: -34px;
  right: -379px;
}

.follow-button {
  position: absolute;
  right: 1.5rem;
  top: 8rem;
}

.selected {
  font-weight: 1000px;
  color: var(--secondary-color);
}

.nav-icons:hover {
  color: var(--secondary-color);
}

/* .form-signin {
  font-weight: 700;
} */

.login-template {
  font-weight: 700;
}
.no-acc {
  font-size: 90%;
}

.sign {
  color: var(--light);
}
