{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

	<div class="row hidden-sm" id="central-top" style="border-bottom: 1px solid grey;">
		<h5 class="text-white font-weight-bolder mx-3">Home</h5><br>
		<div class="tweetBox">
			{% include "content/tweet/tweet_create.html" %}
		</div>
	</div>
	<div id="action-list">
		{% for action in actions %}
			{% include "actions/action/detail.html" %}
		{% endfor %}
	</div>

	<div class="py-4 pb-5 mr-3" style="position: absolute;">
		

		{% for tweet in tweets|latest %}
			{% include "content/tweet/individual-tweet.html" %}
		{% endfor %}
			
			
	</div>
{% endblock content %}

{% block domready %}\

$("a.like-button").click(function(e){
	e.preventDefault();

	var curTweet = $(this).closest(".like-button");

	$.post('{% url "content:like" %}', {id: $(this).data('id'), action: $(this).data('action')},
		function(data){

			if (data['status'] == 'ok'){
				var previous_action = $(curTweet).data('action');
				var previous_likes = parseInt($(curTweet.children()).text(), 10);

				$(curTweet).data('action', previous_action == 'like' ? 'unlike': 'like');

				{% comment %} // toggle link text {% endcomment %}
				var add_like = previous_likes + 1
				var remove_like = previous_likes -1
				//console.log(remove_like, previous_likes, add_like) // below line is removing no of likes
				$(curTweet).html(previous_action == 'like' ? '<i class="fas fa-heart liked-color c-pointer"> ' + add_like + '</i>' : '<i class="fas fa-heart c-pointer">' + remove_like + '</i>').text();

			{% comment %} // update total likes {% endcomment %}
			{% comment %} //console.log('w/out parseInt ' +$(curTweet.children()).text())
			//console.log('w/ parseInt ' +previous_likes) {% endcomment %}

			{% comment %} $(curTweet.children()).text(previous_action == 'like' ? previous_likes + 1 : previous_likes -1); {% endcomment %}
			{% comment %} //console.log(previous_likes) {% endcomment %}
		}
	});
});

	$('#id_body').on('input', function() {
		this.style.height = 'auto';
		this.style.height = (this.scrollHeight) + 'px';
	});
	// disabled
	var button = document.getElementById("button");
	var textarea = document.getElementById("id_body");
	button.style.cursor = "default";
	$(button).prop('disabled', true);

	textarea.addEventListener('keyup', function() {
		// alert(button.disabled + ' ' + this)
		button.disabled = !this.value; 
	// btn is disabled LHS=true; user types in RHS=true; btn.disabled value is set to not true/ !true/ or false;
			if(!this.value){
				$("#button").css("cursor", "default");
			} else if (this.value) {
				$("#button").css("cursor", "pointer");
			}
		
	});
{% endblock domready %}
