{% load static %}
				<img class="my-3 mx-3" width="30px" height="30px" src="{% static 'svg/twitter-blue.svg' %}" alt="">
				<div class="nav list-group-flush align-items-center">
					<a class="list-group-item list-group-item-action align-items-center text-white bg-black lead {% if section == "home" %}selected{% endif %}" href="{% url 'users:home' %}"><i class="fas fa-lg fa-light fa-home"></i> <span class="hidden-sm-md">Home</span></a>
					<a class="list-group-item list-group-item-action align-items-center text-white bg-black lead {% if section == "explore" %}selected{% endif %}" href=""><i class="fas fa-lg fa-border-padding fa-light fa-hashtag"></i> <span class="hidden-sm-md">Explore</span></a>
					<a class="list-group-item list-group-item-action align-items-center text-white bg-black lead {% if section == "notifications" %}selected{% endif %}" href=""><i class="fas fa-lg fa-border-padding fa-light fa-bell"></i> <span class="hidden-sm-md">Notifications</span><span class="ml-2 badge badge-primary badge-pill">3</span></a>
					<a class="list-group-item list-group-item-action align-items-center text-white bg-black lead {% if section == "messages" %}selected{% endif %}" href=""><i class="fas fa-lg fa-border-padding fa-light fa-envelope"></i> <span class="hidden-sm-md">Messages</span></a>
					<a class="list-group-item list-group-item-action align-items-center text-white bg-black lead {% if section == "bookmarks" %}selected{% endif %}" href=""><i class="fas fa-lg fa-border-padding fa-light fa-bookmark"></i> <span class="hidden-sm-md">Bookmarks</span></a>
					<a class="list-group-item list-group-item-action align-items-center text-white bg-black lead {% if section == "lists" %}selected{% endif %}" href=""><i class="fas fa-lg fa-border-padding fa-list"></i> <span class="hidden-sm-md">Lists</span></a>
					<a class="list-group-item list-group-item-action align-items-center text-white bg-black lead {% if section == "profile" %}selected{% endif %}" href="{{ user.get_absolute_url }}"><i class="fas fa-lg fa-border-padding fa-solid fa-user"></i> <span class="hidden-sm-md">Profile</span></a>
					<a class="list-group-item list-group-item-action align-items-center text-white bg-black lead {% if section == "more" %}selected{% endif %}" href=""><i class="fas fa-lg fa-border-padding fa-more"></i> <span class="hidden-sm-md">More</span></a>
				</div>
				<style>
					@media all and (max-width: 1200px) {
						.hidden-sm-md {
							display: none;
						}
					}
				</style>
